<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="lib/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
				stopOnErrors="false"
        strict="false"
        >

    <testsuites>
        <testsuite name="URL Builder">
          <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>

  <logging>
		<log type="coverage-html" target="reports/coverage"
			highLowerBound="80" lowUpperBound="50" highlight="true" yui="true"
			charset="UTF-8" />
		<log type="coverage-clover" target="reports/clover.xml" />
		<log type="junit" target="reports/junit.xml"
			logIncompleteSkipped="false" />
		<log type="testdox-html" target="reports/testdox.html" />
	</logging>
</phpunit>
